@font-face {
	font-family: ShareTechMono;
	src: url('ShareTechMono-Regular.ttf');
}

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: ShareTechMono;
	background: #666666;
}

#main {
	height: inherit;
	/*background-image: url('../images/example.jpg');*/
	/*background-image: url('../images/placeholder.png');*/
	/*background-image: url('http://192.168.1.150:8080/stream?topic=/realsense/color/image_raw');*/
	background-size: 100% 100%;
}

.container {
	display: grid;
	grid-template-columns: [first] 200px [second] 100px [third] auto [fourth] 100px [fifth] 200px [end];
	grid-template-rows: [first] 10px [second] 32px [third] 20% [fourth] auto [fifth] 32px [sixth] 200px [last-line];
}

.uiElement {
	opacity: 1.0;
 /*Later change to 0.5*/
	margin: 10px;
}

.map {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 6;
	grid-row-end: span 1;
	/*background-color: rgba(255, 0, 0, 0.3);*/
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/
	overflow: hidden;
	margin-top: -10px;
}

.map #mapTitle {
	margin: auto;
	background-color: rgba(0, 0, 0, 1);
	text-transform: uppercase;
	color: white;
	margin-top: 0px;
	text-align: center;
}

.map #mapWindow {
	background: #7F7F7F;
	width: inherit;
	height: calc(100% - 18px);
}

.map #mapWindow .svg-triangle {
	margin: 0 auto;
	width: 180px;
	height: 178px;
}

.map #mapWindow .svg-triangle polygon {
	stroke: #ffffff50;
	stroke-width: 0;
	cursor: pointer;
	shape-rendering: crispEdges;
	fill: url(#MyGradient);
}

.map #mapWindow .mapTick {
	width: 4px;
	height: 0px;
	border: 1px solid #ffffff50;
	position: absolute;
}

.map #mapWindow .mapTick:nth-of-type(1) {
	transform: rotateY(0deg) rotate(90deg);
	margin-left: 87px;
	margin-top: 2px;
}

.map #mapWindow .mapTick:nth-of-type(2) {
	transform: rotateY(0deg) rotate(-45deg);
	margin-top: 2px;
	margin-left: 174px;
}

.map #mapWindow .mapTick:nth-of-type(3) {
	margin-left: 174px;
	margin-top: 89px;
}

.map #mapWindow .mapTick:nth-of-type(4) {
	transform: rotateY(0deg) rotate(45deg);
	margin-top: 178px;
	margin-left: 174px;
}

.map #mapWindow .mapTick:nth-of-type(5) {
	transform: rotateY(0deg) rotate(90deg);
	margin-left: 87px;
	margin-top: 178px;
}

.map #mapWindow .mapTick:nth-of-type(6) {
	transform: rotateY(0deg) rotate(-45deg);
	margin-top: 178px;
}

.map #mapWindow .mapTick:nth-of-type(7) {
	margin-top: 89px;
}

.map #mapWindow .mapTick:nth-of-type(8) {
	transform: rotateY(0deg) rotate(45deg);
	margin-top: 2px;
}

.auxButtons {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 6;
	/*background-color: rgba(0, 0, 255, 0.3);*/
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/
	align-self: center;
	justify-self: center;
	text-align: center;
	position: absolute;
	bottom: 0px;
}

.auxButtons button {
	color: white;
	background-color: black;
	position: relative;
	animation: myfirst 5s linear 2s infinite alternate;
	cursor: pointer;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	border-radius: 3px;
	margin: 3px;
}

.auxButtons button span:first-child {
	background-color: grey;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid white;
	border-radius: 3px;
	font-weight: 800;
}

.auxButtons button span:last-child {
	display: inline-block;
	width: 100px;
}

.infoBox {
	grid-column-start: 5;
	grid-column-end: span 1;
	grid-row-start: 6;
	grid-row-end: span 1;
	/*background-color: rgba(0, 255, 0, 0.3);*/
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/
	justify-self: end;
	width: 275px;
}

.statusBar {
	grid-column-start: 1;
	grid-column-end: span 5;
	grid-row-start: 1;
	grid-row-end: 1;
	background-color: rgba(0, 255, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.8);
}

.notifications {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
	background-color: rgba(255, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.8);
	text-align: center;
}

.notifications div {
	margin: auto;
}

.settingsButtons {
	grid-column-start: 5;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 2;
	/*background-color: rgba(0, 0, 255, 0.3);*/
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/;
}

.settingsButtons a {
	float: right;
}

.settingsButtons button {
	color: white;
	background-color: black;
	position: relative;
	animation: myfirst 5s linear 2s infinite alternate;
	cursor: pointer;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 3px;
	margin: 3px;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 1.0);
	overflow: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 20px;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay span, .overlay input, .overlay a, .overlay p {
	padding: 8px;
	text-decoration: none;
	font-size: 24px;
	color: #f1f1f1;
	display: inline-block;
	transition: 0.3s;
}

.overlay .closebtn {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 60px;
}

.overlay input {
	border-radius: 12px;
	margin-left: 10px;
	border: 2px solid #4CAF50;
}

.overlay #wsButton {
	background-color: #4CAF50;
}

.overlay #wsText {
	color: #606060;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}

	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.overlay .shaketh {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

.lds-grid {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-grid div {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
	top: 8px;
	left: 8px;
	animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
	top: 8px;
	left: 32px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
	top: 8px;
	left: 56px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
	top: 32px;
	left: 8px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
	top: 32px;
	left: 32px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
	top: 32px;
	left: 56px;
	animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
	top: 56px;
	left: 8px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
	top: 56px;
	left: 32px;
	animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
	top: 56px;
	left: 56px;
	animation-delay: -1.6s;
}

@keyframes lds-grid {
	0%, 100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

.statusBar div {
	width: 50%;
	color: #fff!important;
	background-color: #000;
}

.statusBar div:nth-child(1) {
	float: left;
	transform: scaleX(-1);
}

.statusBar div:nth-child(2) {
	float: right;
}

.statusBar div div {
	height: 10px;
	margin: 0px;
	/*width: 72%;*/
	color: #fff!important;
	/*background-color:#4CAF50!important*/;
}

#cluster {
	display: grid;
	grid-template-columns: 1.2fr 0.5fr 1.3fr;
	grid-template-rows: 1fr 0fr 0fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "localizationScore localizationScore localizationScore"
    "velocity velocity velocitySystem"
    "velocity velocity velocityPercentage"
    "connectedClients batteryPercentage batteryPercentage";
	font-size: 32px;
	margin: 0px;
	padding: 0px;
	background-color: black;
	border-radius: 3px;
}

#cluster div {
	margin: 0px;
	text-align: center;
	display: inline-block;
}

#cluster div i {
	vertical-align: middle;
	margin-bottom: 4px;
}

#cluster .localizationScore {
	grid-area: localizationScore;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	align-self: center;
	justify-self: center;
	margin-top: 6px;
	margin-bottom: 6px;
	width: calc(100% - 12px);
}

#cluster .connectedClients {
	grid-area: connectedClients;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	align-self: center;
	justify-self: center;
	width: calc(100% - 12px);
}

#cluster .batteryPercentage {
	grid-area: batteryPercentage;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	align-self: center;
	justify-self: center;
	width: calc(100% - 12px);
}

#cluster .velocity {
	grid-area: velocity;
	color: white;
	align-self: center;
	justify-self: center;
	font-size: 72px;
	margin-left: 12px;
}

#cluster .velocityPercentage {
	grid-area: velocityPercentage;
	color: white;
	align-self: center;
	justify-self: center;
	width: 100%;
	width: calc(100% - 12px);
}

#cluster .velocityPercentage div {
	width: 100%;
	background-color: grey;
	align-self: center;
	justify-self: center;
	display: block;
}

#cluster .velocityPercentage div div {
	height: 16px;
	margin: 0px;
	width: 0%;
	background-color: white;
	align-self: center;
	justify-self: center;
}

#cluster .velocitySystem {
	grid-area: velocitySystem;
	color: white;
	align-self: center;
	justify-self: center;
}

.settingsContainer {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-template-rows: 85px 1.5fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "settingsHead settingsHead"
    "settingsTOC settingsContent";
}

.settingsHead {
	grid-area: settingsHead;
}

.settingsTOC {
	grid-area: settingsTOC;
	text-align: right;
	margin-right: 150px;
}

.settingsContent {
	grid-area: settingsContent;
	text-align: left;
	border-left: solid #fff;
}

.settingsContent li {
	margin-left: 42px;
}

.overlay li {
	padding: 8px;
	text-decoration: none;
	list-style-type: none;
	font-size: 24px;
	color: #f1f1f1;
	transition: 0.3s;
}

.settingsContent .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.settingsContent .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.settingsContent .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.settingsContent .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.settingsContent .slider.round {
  border-radius: 34px;
}

.settingsContent .slider.round:before {
  border-radius: 50%;
}

.settingsContent hr {
	width: 90%;
}

#joystick{
	position: fixed;
	bottom: 350px;
	right: 150px;
}

div#nipple_0_0 .front{
    	background-image: url(../images/jfront.png) !important;
}
div#nipple_0_0 .back{
    	background-image: url(../images/jback.png) !important;
}