#slider {
    width:500px;
	margin-left: 350px;
    margin-top: 100px;
	opacity: 1;
    background-image: -webkit-linear-gradient(left, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,255,0) 100%);
    background-image: -moz-linear-gradient(left, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,255,0) 100%);
    background-image: -o-linear-gradient(left, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,255,0) 100%);
    background-image: linear-gradient(left, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,255,0) 100%);
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
#result {
    width:100px;
    height:100px;
    margin:100px auto;
    border-radius:50%;
}